@namespace BlazorActiveXControls
@using BlazorActiveXControls

<h3>App</h3>
Hallo App 

<div>
    User Data: @AppState.UserDataPath
</div>
<div>
    Browser Execution Path: @AppState.BrowserExecutionPath
</div>
<div>
    Index File: @AppState.IndexFile
</div>
<button @onclick="ClickHandler">Blazor Click</button>
@code {

    [Inject]
    private AppState AppState { get; set; }


    public void ClickHandler()
    {
        AppState?.InvokeClick();
    }
}
