@namespace BlazorActiveXControls
@using BlazorActiveXControls

<h3>App</h3>
Hallo App 

<div>
    User Data: @MainFormContext.UserDataPath
</div>
<div>
    Browser Execution Path: @MainFormContext.BrowserExecutionPath
</div>
<div>
    Index File: @MainFormContext.IndexFile
</div>
<button @onclick="ClickHandler">Blazor Click</button>
@code {

    [Inject]
    private MainForm MainFormContext { get; set; }


    public void ClickHandler()
    {
        MainFormContext?.InvokeClick();
    }
}
